name: Generate typescript types form openapi.yaml

on:
  push:

jobs:
  openapi-changed:
    runs-on: ubuntu-latest
    outputs:
      openapi_changed: ${{ steps.check_file_changed.outputs.openapi_changed }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Check for changes
      id: check_file_changed
      run: |
        # Diff merge commit with previous commit
        diff=$(git diff HEAD^ HEAD --name-only | grep -c openapi.yaml)
        echo "::set-output name=openapi_changed::$diff"
  generate-types:
    runs-on: ubuntu-latest
    needs: [ openapi-changed ]
    if: ${{ needs.openapi-changed.outputs.openapi_changed > 0 }}
    steps:
    - uses: actions/checkout@v3
    - name: Generate types
      run: |
        echo "This only gets called when it changes"
