name: Generate typescript types from openapi.yaml

on:
  push:

jobs:
  openapi-changed:
    runs-on: ubuntu-latest
    outputs:
      openapi_changed: ${{ steps.check_file_changed.outputs.openapi_changed }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: setup git config
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
    - name: Check for changes
      id: check_file_changed
      run: |
        diff=$(git diff HEAD^ HEAD --name-only)
        echo "::set-output name=openapi_changed::0"
